@model ClassInfoVm

<div class="container">
  <form method="post">
   <div class="formgroup">
   <label asp-for="Name"></label>
   <input type="text" asp-for="Name">
   </div>

  <div class="formgroup">
   <label asp-for="Description"></label>
   <input type="text" asp-for="Description">
   </div>

   <input type="submit" value="Update">
   </form>
   </div>